<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.eezy.generics.ListnerImp"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.eezy.logintest.StartNewPlanTest"/>
      <class name="com.eezy.logintest.LoginUsingMobileNumberTest"/>
      <class name="com.eezy.logintest.LoginTest"/>
      <class name="com.eezy.logintest.LoginRedirectingToSignInTest"/>
      <class name="com.eezy.logintest.LogOutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
